@page "/"
<PageTitle>Home</PageTitle>
<div class="page">
    <h1 class="Title">Welcome To Zenith Maths</h1>
    <div class="NavButtons">
        <a href = "/login" class="LinkButton">

            <button class = "Button">Login</button>
        </a>

        <a href = "/SignUp" class ="LinkButton">
            <button class="Button">Sign Up</button>
        </a>
    
    </div>

    
    
</div>

