@page "/SignUp"

<h3>SignUp</h3>
@if (Error = true)
{
    <p>Credentials incorrect, check your passwords match, is it a valid email address</p>
}
<form @onsubmit="Submit">
    <div> @*This is thr form taking all the information to create an account*@
        <div>
            <label>
                Firstname:
                <input type="text" @bind="FirstName"/>
            </label>
            <label>
                Lastname:
                <input type="text" @bind="LastName"/>
                
            </label>
        </div>
        <label>
            Email
            <input type="Text" @bind="Email"/>
        </label>
        <label>
            Username:
            <input type="text" @bind="Username"/>
        </label>
        <label>
            Password:
            <input type="text" @bind="Password"/>
        </label>
        <label>
            Confirm Password:
            <input type="text" @bind="ConfirmPassword"/>
        </label>
    </div>
    <div>
        <button type="submit">Sign up</button>
    </div>
    
    
</form>