
.signUpPage {
    font-size:xxx-large;
}

.SignUpInputs{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.NameInput{
    width:24vw;
    
    border:1px solid black ;
    padding:2px;
    border-radius:20px;
    height:4vh;
    margin:10px;
  
}

.Names{
    display:flex;
    flex-direction:row;
}
