.idea/
.sln.iml

**/bin/
**/obj/
*.exe
*.dll
*.pdb
*.app
*.out
*.vspscc

*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
*.sln.ide

appsettings.Development.json
appsettings.Production.json
appsettings.*.json

**/packages/
*.nupkg
*.snupkg


*.log
*.tmp

.DS_store
Thu

*.pfx
*.key
*.cer

wwwroot/.clientlibs/
wwwroot/_framework/
wwwroot/_content/
**/obj/Debug/net*/Razor/

Progress.txt 