@page "/"
@inject NavigationManager NavigationManager

<div class = "QuestionComponent">
    <h1>Welcome to the Question page</h1>
    <h3 >@QuestionText</h3>
    
    @if (QuestionStack.isEmpty() != true)
    {
        
        <form onsubmit="AnswerQuestion">
        
            <input type="text" @bind="UserAnswer"></input>
        
            <button type="Submit">Submit</button>
        </form>
        
    }
    else
    {
        //@NavigationManager.NavigateTo("") // moves them to the question completed screen or dashboard 
    }
    
    
    
    
    
    
</div>


