@page "/"

<div class = "QuestionComponent">
    <h1>Welcome to the Question page</h1>
    <h3 >@QuestionText</h3>
    
    <form onsubmit="">
        
        <input type="text"></input>
        
        <button type="Submit">Submit</button>
    </form>
    
    
    
</div>


