@using Blazored.LocalStorage
@using Blazored.LocalStorage.StorageOptions
@using Microsoft.AspNetCore.Components.Authorization
@page "/Questions"
@inject ILocalStorageService LocalStorage

@if (authenticated == true)
{
    <h1>What topic would you like to practice</h1>
    
}
else
{
    <h1>Oops you shouldnt be seeig this yet</h1>
}






