@using Microsoft.AspNetCore.Components.Authorization
@page "/Questions"
@inject IHttpClientFactory httpClientFactory

<AuthorizeView>
    <Authorized>
        <h1>Finally got it to work</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Tinme for a menty B</h1>
    </NotAuthorized>
    
</AuthorizeView>







