@page "/Questions"

@inject NavigationManager NavigationManager
@rendermode InteractiveAuto


<div class = "QuestionComponent">
    <h1>Welcome to the Question page</h1>
    
    @if (StopQuestioning)
    {
        
        <h3 >@QuestionText</h3>
        
        <input type="text" @bind="UserAnswer" @onkeydown="KeyboardEventHandler" class = "AnswerBox"></input> 
        <button @onclick="AnswerQuestion" >Submit</button>
    }
    else
    {
        <button @onclick="Start">Start</button>
    }
</div>


@code{
    //method to handle the event of if the enter key is entered 
    private void KeyboardEventHandler(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            UserAnswer = String.Empty;
            AnswerQuestion();
        }

       
    }

}


