@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager
@page "/QuestionSelection"

@if (authenticated)
{
    <div class="SelectionPage">
        <h1>What topic would you like to practice</h1>

        <div class="SelctionContainer">
            <button class="Selection"  @onclick="RouteAddition" >
                <h2>Addition</h2>
            </button>
            <button class="Selection" @onclick="RouteSubtraction">
                <h2>Subtraction</h2>
            </button>
            <button class="Selection" @onclick="RouteMultiplication">
                <h2>Multiplication</h2>
            </button>
            <button class="Selection" @onclick="RouteDivision">
                <h2>Division</h2>
            </button>
            <button class="Selection" @onclick="RouteQuadratic">
                <h2>Quadratics</h2>
            </button>
            <button class="Selection" @onclick="RouteCollectingTerms">
                <h2>Collecting terms</h2>
            </button>
        </div>
    </div>
}
else
{
    <h1>Please log in First</h1>
    
}






