.NavBar{
    width: 100%;
    height: 4vh;
    
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: 0;
   
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
}

.NavItem{
    
    color: black;
    text-decoration: none;
    margin-right: 2vw;
}