@inherits LayoutComponentBase
<div>
    <div class="NavBar">
        <a class="NavItem" href="/Login">Login</a>
        <a class="NavItem" href="/SignUp">SignUp</a>
        <a class="NavItem" href="/Dashboard">Dashboard</a>
        <a class="NavItem" href = "/Questions">Questions</a>
    </div>

    @Body 
    
    
</div>


